.btn-group-toggle label {
    font-weight: 400 !important;
}

#bookings-table {
    margin-top: 25px !important;
}

thead th,
.dtr-title {
    font-weight: 600 !important;
    letter-spacing: 1px;
}

tbody {
    letter-spacing: 0.5px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.font-size-18 {
    font-size: 18px;
}

.swal2-actions {
    gap: 10px;
}

.input-group *{
    cursor: pointer;
}

.status{
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

.status .finished{
    background-color: #A8DF8E;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
}

.status .cancelled{
    background-color: #FF6969;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.status .confirmed{
    background-color: #8CABFF;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

.status .pending{
    background-color: #FFDBC3;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
}
