.carousel-control-prev {
    width: 50px;
    /* background-color: #27282928; */
}

.carousel-control-next {
    width: 50px;
    /* background-color: #27282928; */
}


.carouselExampleControls {
    height: 50%;
}

.chart-container {
    padding-left: 50px;
    padding-right: 50px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: #27282961;
}

.content-wrapper {
    background-color: #0000;
}

.date-picker {
    display: flex;

}

.date-picker .input-group {
    margin-right: 5px;
}

.chart-container .row {
    margin-bottom: 30px;
}

.select-group {
    width: fit-content;
}

.custom-select {
    margin-bottom: 0 !important;
}
