.no-gutters * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

#bookForm {
    padding: 20px;
}

.no-gutters img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.card {
    background-color: #FFF6DC !important;
    box-shadow: 5px 5px grey;
}

.radio-drive-type {
    /* display: block; */
    justify-content: center;
    align-items: center;
}

.radio-drive-type span {
    display: block;
    margin-bottom: 15px;
}

.radio-drive-type {
    margin-bottom: 5px;
    padding-top: 20px;
}

.form-check-inline,
.form-check-inline input,
.form-check-inline label {
    cursor: pointer !important;
}

#pickup-group select {
    margin-top: 5px;
}

.pickup-deliver {
    padding-top: 20px;
    margin-bottom: 5px;
}

/* Style error messages */
.error-messages {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Style input fields with errors */
/* .error {
    border-color: red;
} */

/* Style label for error */
.error-label {
    color: red;
    font-weight: 200 !important;
}

.no-gutters .lt-strong {
    font-weight: 600;
}

.buttons-garage button {
    width: 100px;
}

.modal-footer button {
    width: 100px;
}

.car-info {
    text-transform: capitalize;
    width: fit-content;
    padding: 1px 5px;
    background-color: #ffc107;
    border-radius: 5px;
}

select option {
    padding: 10px !important;
}

.disabled {
    opacity: 0.5;
    /* Adjust styling as needed */
    cursor: not-allowed;
}

.py-4 {
    height: 100vh;
}

/* Apply 16px font size to the title */
.swal-title {
    font-size: 20px;
}

/* Apply 16px font size to the buttons */
.swal-button {
    font-size: 16px;
}

.row-form {
    margin-top: 15px;
    margin-bottom: 15px;
}

.total-price-row {
    display: flex;
    align-items: end;
    justify-content: end;
}
